<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Pass LS 레이아웃</title>
  <link rel="stylesheet" href="./assets/styles/style_new.css">
</head>
<body>
  <header class="flex-row align-center black-dot height-60">
    <img src="/assets/images/passls_logo.png" class="padding-inline-20">
    <ul class="flex-row gap-10 max-width-400">
      <li>menu1</li>
      <li>menu2</li>
      <li>menu3</li>
      <li>menu4</li>
      <li>menu5</li>
    </ul>
  </header>
  <!--Courses-->
  <main>
    <section class="flex-row">
      <aside class="flex-col gap-10 red-dot padding-inline-20 padding-block-10" style="flex: 1;">
        <strong class="padding-block-10">Pass LS</strong>
        <ul>
          <li class="red-dot padding-block-10">menu1</li>
          <li class="red-dot padding-block-10">menu2</li>
          <li class="red-dot padding-block-10">menu3</li>
          <li class="red-dot padding-block-10">menu4</li>
          <li class="red-dot padding-block-10">menu5</li>
          <li class="red-dot padding-block-10">menu6</li>
        </ul>
      </aside>
      <section class="flex-col gap-20 black-dot padding-block-10 padding-inline-20" style="flex: 5;">
        <article class="padding-block-10 padding-inline-20 red-dot">
          <strong>title</strong>
          <div class="flex-row gap-10">
            <div class="flex-col gap-10 black-dot max-width-300 padding-block-10 padding-inline-20 height-150">
              <p>card text</p>
              <p>38</p>
            </div>

            <div class="flex-col gap-10 black-dot max-width-300 padding-block-10 padding-inline-20">
              <p>card text</p>
              <p>38</p>
            </div>

            <div class="flex-col gap-10 black-dot max-width-300 padding-block-10 padding-inline-20">
              <p>card text</p>
              <p>38</p>
            </div>

            <div class="flex-col gap-10 black-dot max-width-300 padding-block-10 padding-inline-20">
              <p>card text</p>
              <p>38</p>
            </div>
          </div>
        </article>

        <article class="padding-block-10 padding-inline-20 red-dot height-400">
          <p class="padding-block-10">sales analytics</p>
          <p class="flex-row justify-center align-center black-dot height-300">chart</p>
        </article>

        <article class="flex-row gap-20 justify-center padding-inline-20 padding-block-10 red-dot">
          <div class="black-dot width-full max-width-500 height-500">
            <p>card title</p>
          </div>

          <div class="black-dot width-full max-width-500 height-500">
            <p>card title</p>
          </div>

          <div class="black-dot width-full max-width-500 height-500">
            <p>card title</p>
          </div>

          <div class="black-dot width-full max-width-500 height-500">
            <p>card title</p>
          </div>
        </article>
      </section>
    </section>
  </main>
  
  <footer class="black-dot height-60">

  </footer>
</body>
</html>