<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Pass LS 레이아웃</title>
  <link rel="stylesheet" href="/assets/styles/style_new.css">
</head>
<body>
  <header class="header">
    <div class="left-bar">
      <a href="#"></a>
      <img src="/assets/images/passls_logo.png">
      <ul>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu2</a></li>
        <li><a href="#">menu3</a></li>
        <li><a href="#">menu4</a></li>
      </ul>
    </div>
    <div class="right-bar">
      <span>login</span>
      <span>sign up</span>
    </div>
  </header>
  
  <!--Courses-->
  <main>
    <section class="flex-row gap-20 padding-inline-30 padding-block-30">
      <section class="flex-col black-dot" style="flex: 1;">
        <strong>order summary</strong>
        
        <article class="flex-col gap-20 red-dot padding-inline-30 padding-block-30 height-80">
          <p>sub text</p>
        </article>

        <article class="flex-col gap-20 red-dot padding-inline-30 padding-block-30 height-80">
          <p>sub text</p>
        </article>

        <article class="flex-col gap-20 red-dot padding-inline-30 padding-block-30 height-80">
          <p>sub text</p>
        </article>

        <article class="flex-col gap-20 red-dot padding-inline-30 padding-block-30 height-80">
          <p>sub text</p>
        </article>

        <article class="flex-col gap-20 red-dot padding-inline-30 padding-block-30 height-80">
          <p>sub text</p>
        </article>

        <article class="flex-col gap-20 red-dot padding-inline-30 padding-block-30 height-80">
          <p>sub text</p>
        </article>

        
      </section>
  
      <section class="flex-col red-dot" style="flex: 3;">
        <article class="flex-col align-center justify-center red-dot height-300">
          <span>video</span>
        </article>

         <article class="flex-col gap-20 red-dot padding-inline-20 padding-block-10 height-300 margin-top-20">
          <div class="card width-full">
            <p class="border-bottom padding-block-10 padding-inline-30">coupon title</p>
            <p class="border-bottom padding-block-20 padding-inline-30">img / 120,000</p>
            <p class="border-bottom padding-block-10 padding-inline-30">img / 120,000</p>
            <p class="border-bottom padding-block-10 padding-inline-30">img / 120,000</p>
            <p class="border-bottom padding-block-10 padding-inline-30">img / 120,000</p>
          </div>
        </article>

        <article class="flex-row align-center red-dot padding-inline-20 padding-block-10 height-80 margin-top-20">
          <p>text text</p>
        </article>

        <article class="card flex-col padding-inline-30 padding-block-30 margin-top-20 gap-20 height-300">
          <div class="flex-row gap-10">
            <p>img</p>
            <b>name</b>
          </div>
          <p>contents text</p>
        </article>
      </section>
    </section>
  </main>
  
  <footer class="footer">
    <div class="footer-box">
      <div class="f-top">
        <a href="#">text1</a>
        <a href="#">text2</a>
        <a href="#">text3</a>
        <a href="#">text4</a>
      </div>
      <p class="f-middle">
        text middle<br>
        text middle text middle<br>
        text middle
      </p>
      <span class="f-bottom">text bottom</span>
    </div>
  </footer>
</body>
</html>