<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Pass LS 레이아웃</title>
  <link rel="stylesheet" href="https://sonny479.github.io/Passls_layout/assets/styles/style_new.css">
</head>
<body>
  <header class="header">
    <div class="left-bar">
      <a href="#"></a>
      <img src="/assets/images/passls_logo.png">
      <ul>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu2</a></li>
        <li><a href="#">menu3</a></li>
        <li><a href="#">menu4</a></li>
      </ul>
    </div>
    <div class="right-bar">
      <span>login</span>
      <span>sign up</span>
    </div>
  </header>
  
  <!--Courses-->
  <main>
    <section class="flex-row gap-20 padding-inline-30 padding-block-30">
      <section class="flex-col black-dot padding-inline-30 padding-block-10" style="flex: 3;">
        <article class="flex-col gap-20 red-dot padding-inline-20 padding-block-10 height-300">
          <div class="card width-full">
            <p class="border-bottom padding-block-10 padding-inline-30">card title</p>
            <p class="border-bottom padding-block-20 padding-inline-30">img / 120,000</p>
            <p class="border-bottom padding-block-10 padding-inline-30">price / 120,000</p>
            <p class="border-bottom padding-block-10 padding-inline-30">price / 120,000</p>
            <p class="padding-block-10 padding-inline-30">price / 120,000</p>
          </div>
        </article>

        <article class="black-dot padding-inline-30 padding-block-40 margin-top-20">
          <p>coupon</p>
          <div class="flex-row justify-between">
            <p>input tag</p>
            <button class="btn max-width-200">btn</button>
          </div>
        </article>

        <article class="flex-col gap-20 red-dot padding-inline-20 padding-block-10 height-300 margin-top-20">
          <div class="card width-full">
            <p class="border-bottom padding-block-10 padding-inline-30">coupon title</p>
            <p class="border-bottom padding-block-20 padding-inline-30">img / 120,000</p>
            <p class="border-bottom padding-block-10 padding-inline-30">img / 120,000</p>
            <p class="border-bottom padding-block-10 padding-inline-30">img / 120,000</p>
            <p class="border-bottom padding-block-10 padding-inline-30">img / 120,000</p>
          </div>
        </article>

        <article class="flex-col gap-20 red-dot padding-inline-20 padding-block-10 height-400 margin-top-20">
          <p>Billing Information</p>
          <div class="flex-col gap-10">
            <p>full name</p>
            <input type="text" placeholder="full name">
            <input type="text" placeholder="full name">
          </div>
          <div class="flex-col gap-10">
            <p>phone</p>
            <div class="flex-row gap-10">
              <input type="tel" placeholder="phone" class="max-width-200">
            </div>
            <input type="text" placeholder="full name">
          </div>
        </article>
      </section>
  
      <section class="flex-col red-dot padding-inline-30 padding-block-10" style="flex: 1.5;">
        <article class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-800">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </article>

        <article class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </article>
      </section>
    </section>
  </main>
  
  <footer class="footer">
    <div class="footer-box">
      <div class="f-top">
        <a href="#">text1</a>
        <a href="#">text2</a>
        <a href="#">text3</a>
        <a href="#">text4</a>
      </div>
      <p class="f-middle">
        text middle<br>
        text middle text middle<br>
        text middle
      </p>
      <span class="f-bottom">text bottom</span>
    </div>
  </footer>
</body>
</html>