<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Pass LS 레이아웃</title>
  <link rel="stylesheet" href="./assets/styles/style_new.css">
</head>
<body>
  <header class="header">
    <div class="left-bar">
      <a href="#"></a>
      <img src="/assets/images/passls_logo.png">
      <ul>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu2</a></li>
        <li><a href="#">menu3</a></li>
        <li><a href="#">menu4</a></li>
      </ul>
    </div>
    <div class="right-bar">
      <span>login</span>
      <span>sign up</span>
    </div>
  </header>
  
  <!--Courses-->
  <main>
    <section class="flex-col black-dot padding-inline-30 padding-block-30">
      <div class="flex-row gap-20">
        <p>drop-down</p>
        <span>check box / text</span>
        <span>check box / text</span>
        <span>check box / text</span>
        <span>check box / text</span>
        <p>drop-down</p>
      </div>

      <div class="flex-row justify-between margin-top-20">
        <p>drop-down</p>
        <p>filter</p>
      </div>

      <div class="flex-row justify-between margin-top-20">
        <p>showing</p>
        <p>1~7 of 26</p>
      </div>
    </section>

    <section class="red-dot padding-inline-30 padding-block-30">
      <div class="flex-row gap-20">
        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </div>

        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </div>

        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </div>

        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </div>

        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </div>

        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </div>

        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </div>

        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </div>

        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-600 gap-20 height-300">
          <p>img</p>
          <b>card title</b>
          <button class="btn">btn</button>
        </div>
      </div>
    </section>
  </main>
  
  <footer class="footer">
    <div class="footer-box">
      <div class="f-top">
        <a href="#">text1</a>
        <a href="#">text2</a>
        <a href="#">text3</a>
        <a href="#">text4</a>
      </div>
      <p class="f-middle">
        text middle<br>
        text middle text middle<br>
        text middle
      </p>
      <span class="f-bottom">text bottom</span>
    </div>
  </footer>
</body>
</html>