<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>Pass LS 레이아웃</title>
  <link rel="stylesheet" href="https://sonny479.github.io/Passls_layout/assets/styles/style_new.css">
</head>
<body>
  <header class="header">
    <div class="left-bar">
      <a href="#"></a>
      <img src="/assets/images/passls_logo.png">
      <ul>
        <li><a href="#">menu1</a></li>
        <li><a href="#">menu2</a></li>
        <li><a href="#">menu3</a></li>
        <li><a href="#">menu4</a></li>
      </ul>
    </div>
    <div class="right-bar">
      <span>login</span>
      <span>sign up</span>
    </div>
  </header>
  
  <!--Courses-->
  <main>
    <section class="flex-row black-dot justify-center">
      <article class="flex-col red-dot padding-inline-30 padding-block-30 max-width-800 height-300 align-center justify-center">
        <p>check img</p>
        <p>thank you text</p>
        <p>thank you text</p>
        <div class="flex-row gap-10 justify-center margin-top-20">
          <button class="btn max-width-200">btn</button>
          <button class="btn max-width-200">btn</button>
        </div>
      </article>

      <section class="flex-col black-dot padding-inline-30 padding-block-30 align-center justify-center">
        <div class="card flex-col padding-inline-30 padding-block-30 margin-top-20 max-width-800 gap-20 height-300">
          <b>order detail</b>
          <p>img</p>
        </div>
      </section>
    </section>
  </main>
  
  <footer class="footer">
    <div class="footer-box">
      <div class="f-top">
        <a href="#">text1</a>
        <a href="#">text2</a>
        <a href="#">text3</a>
        <a href="#">text4</a>
      </div>
      <p class="f-middle">
        text middle<br>
        text middle text middle<br>
        text middle
      </p>
      <span class="f-bottom">text bottom</span>
    </div>
  </footer>
</body>
</html>